<!-- templates/index.html -->
{% extends "base.html" %}
{% import "partials/_sensor_card.html" as sensor_card %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="py-3">
  <h1 class="text-center">Sensor Gallery</h1>
</div>
<div class="row">
  {% for item in sensor_cards_data %}
    {{ sensor_card.render_sensor_card(sensor=item.sensor, chart_data=item.chart_data) }}
  {% endfor %}
</div>
<div class="my-4 text-end">
  <a href="{{ url_for('view.export_all') }}" class="btn btn-success">Export All Sensor Data</a>
</div>
{% endblock %}

{% block scripts %}
<script>
  window.sensorChartData = {
    {% for item in sensor_cards_data %}
      "{{ item.sensor.mac }}": {{ item.chart_data | tojson }}{% if not loop.last %},{% endif %}
    {% endfor %}
  };
</script>
<script src="{{ url_for('static', filename='js/mini_charts.js') }}"></script>
{% endblock %}
